<header>
  <nav>
    <ul>
      <li *ngIf="isLoggedIn$ | async">
        <a routerLink="/currency" routerLinkActive="active">Currency Page</a>
      </li>
      <li *ngIf="!(isLoggedIn$ | async)">
        <a routerLink="auth/login" routerLinkActive="active">Log In</a>
      </li>
      <li *ngIf="isLoggedIn$ | async">
        <a routerLink="/users" routerLinkActive="active">Users Page</a>
      </li>
      <li *ngIf="isLoggedIn$ | async"><a (click)="onLogout()">Log Out</a></li>
    </ul>
  </nav>
</header>
